<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Steel Plates Faults</title>
</head>
<body>
    <h2>Steel Plates Fault List</h2>

    <a href="/add">Add New Plate</a>
    <br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Fault Type</th>
            <th>Action</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
                <a href="/delete/{{ row[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
