<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Steel Plates Faults</title>
</head>
<body>
    <h2>Steel Plates Fault List</h2>

    <table border="1">
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>

        {% for row in rows %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</body>
</html>
